<div class="row profile">
    <div class="col-sm-4 col-md-3">
        <%= image_tag(@user.avatar.url(:medium), class: 'avatar') %>
        <h1><%= @user.full_name %></h1>
        <ul>
            <%= content_tag(:li, ("Name: " + @user.name)) unless @user.name.blank? %>
            <%= content_tag(:li, ("Age: " + distance_of_time_in_words(Time.now, @user.date_of_birth) + " old")) unless @user.date_of_birth.blank? %>
            <%= content_tag(:li, ("Email: " + @user.email)) unless @user.email.blank? %>
        </ul>
        <%= link_to "Endorse!", follow_path(@user.id) %>
    </div>
    <div class="feed">
        <h3>Endorsers: <%= @user.followers_count %></h3>
        <table class="table table-striped">
            <% @user.followers.each do |f| %>
                <tr>
                  <td><%= f.id %></td>
                  <td><%= f.email %></td>
                </tr>  
            <% end %>
        </table>
    </div>
</div>